{{ partial "html-head.html" . }}
<div class="content-container">
    <div class="content-area">
  {{- if .Content -}}
  {{- .Content -}}
  {{- else -}}
      <h1>
       {{ partial "bloc/content/h1-title.html" . }}
      </h1>
      {{ range $index, $foo := .Paginator.Pages  }}
      {{ .Render "section.li" }}
      {{ end }}
      {{ partial "bloc/content/pagination.html" . }}
    {{ end }}
    </div><!-- /.content-area -->
    {{ if .Site.Params.clarity.Nav.Sidebar }}
      {{ partial "bloc/content/clarity-navigation.html" . }}
    {{ end }}
</div><!-- /.content-container -->
{{ partial "html-foot.html" . }}
