{{ "<!--[if lt IE 9]>" | safeHTML }}
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}


<script src="/js/clr-icons.min.js"></script>
<script src="/js/custom-elements.min.js"></script>
<script src="/js/clr-toggle-darkmode.js"></script>


<link id="dark-mode-css" {{ if not .Site.Params.clarity.DarkTheme }}disabled{{ end }} href="/css/clr-ui-dark.min.css" rel="stylesheet" type="text/css" as="style">
<link id="light-mode-css" {{ if .Site.Params.clarity.DarkTheme }}disabled{{ end }} href="/css/clr-ui.min.css" rel="stylesheet" type="text/css" as="style">

<link href="/css/clr-icons.min.css" rel="stylesheet">
<link href="/css/definit-clarity.css" rel="stylesheet">
<link href="/css/syntax-highlighting.css" rel="stylesheet">
<link href="{{ "css/lightbox.min.css" | relURL }}" rel="stylesheet">