{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}

{{ if eq $alt "" }}
    {{ $alt = $caption }}
{{ end }}
{{ if eq $caption "" }}
    {{ $caption = $alt }}
{{ end }}

<br clear="none">
<div class="clr-content-image-wrap">
    {{ if $caption }}<figure>{{ end }}
        <a href="{{ .Get "src" }}" data-lightbox="{{ .Get "src" }}" data-title="{{ $alt }}" class="lb">
            <img class="lb" src="{{ .Get "src" }}" alt="{{ $alt }}" {{ with .Get "width"}} width="{{.}}" {{ end }} />
        </a>
    {{ if $caption }}
        <figcaption class="clr-caption">{{ $caption }}</figcaption>
    </figure>
    {{ end }}
</div>

